* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
}
:root {
  font-size: 16px;
}

body {
  position: relative;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

.spread-box-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.hover-box-shadow {
  transition: all 0.2s ease-in-out;
  &:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  }
}
* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

button {
  outline: none;
}

.max-w-xss {
  max-width: 10rem;
}

.section-container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.sectiony-spacing {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.central-md-heading-title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: $secondary-color;
}

.primary-blue-text {
  color: $secondary-color !important;
}
.primary-red-text {
  color: $primary-color !important;
}

.primary-blue-bg {
  background-color: $secondary-color;
}
.primary-red-bg {
  background-color: $primary-color !important;
}
.highlight-text {
  color: $primary-highlight-color !important;
}
.highlight-bg {
  background: $primary-highlight-color !important;
}

.circleStructure {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.redCircle {
  @extend .circleStructure;
  box-shadow: 0px 10px 30px 0px rgba(23, 30, 174, 0.4);
  background-image: linear-gradient(40deg, $primary-color 0%, $primary-color 100%);
}

a:hover {
  color: $primary-color;
}

.primary-border {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.scroll-to-top {
  left: 0.5rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

// TODO: ================================== sidedrawer

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: $secondary-color;
  display: block;
  border: none;
  background: none;
  width: 95%;
  margin-top: 0.15rem;
  text-align: left;
  cursor: pointer;
  border-radius: 0.15rem;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  background-color: #e9eaf5;
}

/* Add an active class to the active dropdown button */
.active {
  border-radius: 0.15rem;
  background-color: #e9eaf5;
  color: $primary-color;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  background-color: #e9eaf5;
  border-bottom-left-radius: 0.15rem;
  border-bottom-right-radius: 0.15rem;
  display: none;
  width: 95%;
  color: $secondary-color;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.sidebar-sub-menu {
  font-size: 0.95rem !important;
}

.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  padding-top: 20px;
}

// Fix  radio
[type="radio"]:checked {
  background-image: none;
  background-size: none;
  background: repeating-radial-gradient(#4a5568, transparent 100px) !important;
}

// Fix  checkbox
[type="checkbox"]:checked {
  background-image: none;
  background-size: none;
  background: repeating-radial-gradient(#4a5568, transparent 100px) !important;
}

.sisBg {
  background: linear-gradient(rgba(103, 40, 40, 0.5), rgba(190, 78, 78, 0.5)), url("../../public/assets/sisBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
