@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap";

:root {
  --color-primary: #6c9bcf;
  --color-danger: #ff0060;
  --color-success: #1b9c85;
  --color-warning: #f7d060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: #848bc82e;
  --color-dark-variant: #677483;
  --color-background: #cecee0;
  --card-border-radius: 0.4rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.4rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: #0006;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
  background-color: var(--color-background);
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: 1.4rem;
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
}

small {
  font-size: 0.76rem;
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

.text-muted {
  color: var(--color-info-dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

.container {
  display: grid;
  width: 98% !important;
  margin: 0 auto;
  gap: 0.8rem;
  grid-template-columns: 18rem auto 16rem;
}

aside .toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.9rem;
}

aside .toggle .logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

aside .toggle .logo img {
  width: 3.5rem;
  height: 3.5rem;
}

aside .toggle .close {
  padding-right: 1rem;
  display: none;
}

aside .sidebar {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: 0.4rem;
  min-height: 100vh;
  position: relative;
  /* top: 3.3rem; */
  transition: all 0.3s ease;
}

aside .sidebar:hover {
  box-shadow: none;
}

aside .sidebar a {
  display: flex;
  align-items: center;
  color: var(--color-info-dark);
  /* gap: 1rem; */
  position: relative;
  transition: all 0.3s ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

aside .sidebar a.active {
  width: 100%;
  color: #bb84e8;
  background-color: #e9eaf5;
  margin-left: 0;
}

aside .sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover span {
  margin-left: 0.6rem;
}

aside .sidebar .message-count {
  background-color: var(--color-danger);
  padding: 2px 6px;
  color: var(--color-white);
  font-size: 11px;
  border-radius: var(--border-radius-1);
  margin-left: 1rem;
}

main .analyse {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4rem;
}

main .analyse > div {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 0.15rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 0;
}

@media only screen and (max-width: 915px) {
  main .analyse {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.45rem;
  }
}

@media only screen and (max-width: 600px) {
  main .analyse {
    gap: 0.45rem;
  }

  main .analyse > div {
    margin-top: 0.9rem !important;
  }
}

main .analyse > div:hover {
  box-shadow: none;
}

main .analyse > div .status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .analyse h3 {
  font-size: 1rem;
}

main .analyse .progresss {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

main .analyse svg {
  width: 7rem;
  height: 7rem;
}

main .analyse svg circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

main .analyse .green svg circle {
  stroke: var(--color-success);
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .red svg circle {
  stroke: #e84c3d;
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .blue svg circle {
  stroke: var(--color-primary);
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .pink svg circle {
  stroke: #ff69b3;
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .violet svg circle {
  stroke: #c182e0;
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .orange svg circle {
  stroke: #fe7003;
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .progresss .percentage {
  position: absolute;
  top: -3px;
  left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

main .new-users {
  margin-top: 1.3rem;
}

main .new-users .user-list {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

main .new-users .user-list:hover {
  box-shadow: none;
}

main .new-users .user-list .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .new-users .user-list .user img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.4rem;
  border-radius: 50%;
}

main .recent-orders {
  margin-top: 1.3rem;
}

main .recent-orders h2 {
  margin-bottom: 0.8rem;
}

.right-section {
  margin-top: 1.4rem;
}

.right-section .nav {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.right-section .nav button {
  display: none;
}

.right-section .dark-mode {
  background-color: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}

.right-section .dark-mode span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section .dark-mode span.active {
  background-color: var(--color-primary);
  color: #fff;
  border-radius: var(--border-radius-1);
}

.right-section .nav .profile {
  display: flex;
  gap: 1rem;
  text-align: right;
}

.right-section .nav .profile .profile-photo {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.right-section .user-profile {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.75rem;
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: all 0.3s ease;
}

.right-section .user-profile:hover {
  box-shadow: none;
}

.right-section .user-profile .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-section .user-profile img {
  width: auto;
  height: 9rem;
  margin-bottom: 0.8rem;
  border-radius: 50%;
}

.right-section .user-profile h2 {
  margin-bottom: 0.2rem;
}

.right-section .reminders {
  margin-top: 0.85rem;
}

.right-section .reminders .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.right-section .reminders .header span {
  padding: 10px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
  border-radius: 50%;
}

.right-section .reminders .notification {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.1rem var(--card-padding);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: all 0.3s ease;
}

.right-section .reminders .notification:hover {
  box-shadow: none;
}

.right-section .reminders .notification .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
}

.right-section .reminders .notification .icon {
  padding: 0.6rem;
  color: var(--color-white);
  background-color: #bb84e8;
  border-radius: 20%;
  display: flex;
}

.right-section .reminders .notification.deactive .icon {
  background-color: var(--color-danger);
}

.right-section .reminders .add-reminder {
  background-color: var(--color-white);
  border: 2px dashed #bb84e8;
  color: #bb84e8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.right-section .reminders .add-reminder:hover {
  background-color: #bb84e8;
  color: #fff;
}

.right-section .reminders .add-reminder div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

@media screen and (max-width: 1360px) {
  main .analyse {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 635px) {
  main .analyse {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 95% !important;
    grid-template-columns: 16rem auto 18rem;
  }

  aside .sidebar a {
    width: 5.6rem;
  }

  main .new-users .user-list .user {
    flex-basis: 40%;
  }

  main .recent-orders {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 0.8rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 95% !important;
  }
}

main.dashboard-main,
main.dashboard-main .container {
  background-color: #eff0f4;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0 var(--padding-1);
  }

  aside {
    height: calc(100vh - 4.5rem);
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    background-color: var(--color-white);
    width: 17rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    left: -100%;
    display: none;
    animation: showMenu 0.4s ease forwards;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  aside .logo {
    margin-left: 1rem;
  }

  aside .logo h2 {
    display: inline;
  }

  aside .sidebar h3 {
    display: inline;
  }

  aside .sidebar a {
    width: 100%;
  }

  aside .toggle .close {
    display: inline-block;
    cursor: pointer;
  }

  main.dashboard-main {
    margin-top: 4.5rem;
    padding: 0 1rem;
    background-color: #f6f6f9;
  }

  main .new-users .user-list .user {
    flex-basis: 35%;
  }

  main .recent-orders {
    position: relative;
    margin: 3rem 0 0;
    width: 100%;
  }

  .right-section {
    width: 94%;
    margin: 0 auto 4rem;
  }

  .right-section .nav {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    background-color: var(--color-white);
    padding: 0 var(--padding-1);
    height: 4.6rem;
    width: 100%;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
    margin: 0;
  }

  .right-section .nav .dark-mode {
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }

  .right-section .profile .info {
    display: none;
  }

  .right-section .nav button {
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }

  .right-section .nav button span {
    font-size: 2rem;
  }
}

.info h1 {
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background: #d8dcdf;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b2b2b2;
}

.fill-current {
  display: none;
}

.sidebar {
  padding: 1rem 0;
}

.sidedrawer-menu-container .sidedrawer-dropdn,
.sidedrawer-menu-container {
  width: 100%;
}

.sidedrawer-menu-container .sidedrawer-dropdn:hover {
  background-color: #f6f6f9;
  border-radius: 0.25rem;
}

.sidedrawer-menu-container .sidedrawer-dropdn {
  cursor: pointer;
  color: #000;
  margin-top: 0.25rem;
  min-height: 2.25rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  transition: all ease-in-out 0.15s;
}

.sidedrawer-dropdn > svg:first-child {
  height: 1.5rem;
  width: 1.5rem;
}

.sidedrawer-dropdn > svg.dropdown-chevron {
  height: 0.6rem;
  width: 0.6rem;
}

.sidedrawer-dropdn > svg:first-child,
.sidedrawer-dropdn > svg.dropdown-chevron {
  fill: #7d8da1;
}

.sidedrawer-dropdn > svg.up-side-down {
  transform: rotate(180deg);
}

.sidedrawer-menu-container .sidedrawer-dropdn:hover {
  transition: all ease-in-out 0.15s;
}

.sidedrawer-menu-container .sidedrawer-dropdn h3 {
  margin-right: 0.5rem;
  margin-left: 1rem;
}

.hide-item {
  display: none;
}

.show-item {
  display: block;
}

.sidedrawer-dropdown-list {
  font-size: 0.9rem;
}

.sidedrawer-dropdown-list ul li a {
  min-height: auto;
}

.sidedrawer-dropdown-list ul li {
  margin: 0.2rem;
  border-radius: 0.25rem;
  color: #7d8da1;
  cursor: pointer;
  padding: 0.45rem;
  width: 70%;
  margin-left: 23%;
  display: flex;
  align-items: center;
}

.sidedrawer-dropdown-list ul li h4 {
  margin-left: 0.5rem;
}

.sidedrawer-dropdown-list ul li svg {
  fill: #7d8da1;
}

.sidedrawer-dropdown-list ul li:hover {
  background-color: #e9eaf5;
}

@media only screen and (min-width: 1200px) {
  .dashboard-no-admin-page .container {
    min-width: 95% !important;
    grid-template-columns: 18rem auto !important;
  }
}

@media only screen and (max-width: 1200px) {
  .dashboard-no-admin-page .container {
    min-width: 95% !important;
    grid-template-columns: 5.3rem 90% !important;
  }
}

@media only screen and (max-width: 768px) {
  .dashboard-no-admin-page .container {
    grid-template-columns: none !important;
  }
}

.rdt_TableHeader {
  background-color: transparent !important;
}

.add-more:hover {
  transform: scale(1.1);
}

.add-more:active {
  fill: #181a1e;
  transform: scale(1.1);
}

.add-more {
  fill: #adadad;
  height: 3.5rem;
}

textarea,
select {
  border: 2px solid #e3e3e3 !important;
  background-color: #f7f9fb !important;
}

input:not([aria-autocomplete="list"]) {
  border: 2px solid #e3e3e3 !important;
  background-color: #f7f9fb !important;
}

input[type="checkbox"] {
  border: 2px solid #e3e3e3 !important;
}

.active {
  background-color: #f6f6f9;
  color: #bb84e8 !important;
  svgfill: #bb84e8 !important;
}

.primary-red-svg {
  fill: #e84c3d;
}

[data-headlessui-state="open"] {
  border-radius: 0.3rem;
  transition: all ease-in-out 0.4s;
}

* {
  border-radius: 1px solid rgb(195, 195, 195) !important;
}
