@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
  .container {
    max-width: 100% !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100% !important;
  }
}

/* width */
::-webkit-scrollbar {
  height: 0.4em !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a9a9a9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a9a9a9;
}
