//*Primary
$primary-color: #bb84e8; // must  be lighter than secondary color
$secondary-color: #240642; // must be darker than primary color
$footer-bg: #240642;

$primary-highlight-color: #bb84e8;
//*Secondary

//*Tersary
